---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="no-gradient">
		<Header />
		<main class="home">
			<h1 id="hacker-text">Bonjour, je suis Maxime Violette !</h1>
			<p>
				N’hésite pas à consulter mes <a href="/blog">projets</a>, mon <a href="/cv_en.pdf" target="_blank" rel="noopener noreferrer">CV</a>, ou à <a href="mailto:maxime.v60@orange.fr&body=Sur quoi puis-je t'aider ?">me contacter</a> pour discuter ou collaborer !
			</p>
		</main>
		<Footer />
	</body>
</html>
<script>
  const userLang = navigator.language;
  if (!userLang.startsWith('fr')) {
    window.location.href = '/en/';
  }
</script>
