---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="no-gradient">
		<Header />
		<main class="home">
			<div class="centered-container">
				<div class="image-container">
					<img src="../img/code.jpg" alt="Illustration de code" />
				</div>
				<div class="text-container">
					<h1 id="hacker-text">Bonjour, <br />Je suis Maxime Violette !</h1>
					<p>
						Passionné par les nouvelles technologies depuis mon plus jeune âge, j’ai choisi de me 
						spécialiser en ingénierie des réseaux informatiques et des objets connectés après 
						l’obtention de mon baccalauréat général. J’ai intégré <b>UniLaSalle Amiens</b>, une école d’ingénieurs 
						qui m’a permis, dès la troisième année, de suivre ma formation en alternance. 
						C’est dans ce cadre que j’ai rejoint Valeo en tant que <b>R&D DSIS Operation Engineer</b>.
						<br/>
						N’hésite pas à consulter mon
						<a href="/cv_en.pdf" target="_blank" rel="noopener noreferrer">CV</a>,
						ou à <a href="mailto:maxime.v60@orange.fr&body=Sur quoi puis-je t'aider ?">me contacter</a>
						pour discuter ou collaborer !
					</p>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
<script>
  const userLang = navigator.language;
  if (!userLang.startsWith('fr')) {
    window.location.href = '/en/';
  }
</script>
